{% extends "base.html" %}

{% block main %}
{% if ms %}
<div class="alert alert-success" role="alert">
    {{ms}}
</div>
{% endif %}

{% if logged %}
<section>
<div class="page-header">
  <h1>Bienvenido {{user}}</h1>
</div>
    <p>Esto es una pagina de prueba Para la practica 3 y tu eres el usuario {{user}}</p>
</section>
{% else %}
<section>
<div class="page-header">
  <h1>No estas logeado</h1>
</div>
    <p>Esto es una pagina de prueba Para la practica 3</p>
</section>
{% endif %}

{% endblock main %}
