<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}Practica 5{% endblock title%} </title>
    {% block html_head %}{% endblock %}
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% block nav %}
    <img id="main-icon" src="https://cdn.pixabay.com/photo/2020/11/23/09/46/icon-5769225__340.png" alt="Logo" style="width:40px;">
    <a class="navbar-brand" href="#">Práctica 5</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/index">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/films">Sakila Films <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ejercicios
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/ordenacion_burbura/9 8 7 6 5 4 3 2 1">Oprdenacion burbura</a>
            <a class="dropdown-item" href="/ordenacion_seleccion/9 8 7 6 5 4 3 2 1">Ordenacion seleccion</a>
            <a class="dropdown-item" href="/criba/50">Criba</a>
            <a class="dropdown-item" href="/fibo">Fibo</a>
            <a class="dropdown-item" href="/corchetes/10">Corchetes</a>
            <a class="dropdown-item" href="/expresiones/correo@correo.ugr.es">Expresiones</a>
            <a class="dropdown-item" href="/svg">Svg</a>
            <!--<div class="dropdown-divider"></div>-->
            </div>
        </li>
        </ul>
        <ul class="navbar-nav">
        {% if logged %}
          <li class="nav-item">
            <a class="nav-link" href="/info">mis datos</a>
          </li>
        {%endif%}
        <li class="nav-item">
          <div class="nav-item btn-group">
            {% if logged %}
            <a href="/edit" class="btn btn-outline-success">Editar perfil</a>
            <a href="/logout" class="btn btn-outline-success">Desconectar</a>

            {% else %}
            <a href="/login" class="btn btn-outline-success">Entrar</a>
            <a href="/register" class="btn btn-outline-success">Registrase</a>
            {%endif%}
          </div>
        </li>
        </ul>
    </div>
    {% endblock nav %}
    </nav>

    <!-- Aside main footer -->
    <div class="container-fluid">
      <div class="row">
        <aside class="col-2 d-flex justify-content-center bg-light">
          <ul class="col list-group list-group-flush bg-light">
                  <li class="list-group-item bg-light"><strong>Historial</strong></li>
                  {% for url in urls %}
                  <a class="nav-link text-break" href='{{url[0]}}'>{{url[1]}}</a>
                  {% endfor %}
          </ul>
        </aside>

        <main class="col-10">
            {% block  main %}
            {% if ms %}
            <div class="alert alert-success" role="alert">
                {{ms}}
            </div>
            {% endif %}
            {% endblock main %}
        </main>
      </div>
      <div class="row">
        <footer class="col-12 d-flex justify-content-center bg-light">
                {% block footer %} <h1>footer</h1> {% endblock footer %}
       </footer>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>